/*so that the font style is applied to everything*/
/*and yet again i chose a analogous color scheme consisting of blue and green because it reminds me of nature or
more specifically the sky and the grass*/
*{
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

p {
    font-size: 40px;
    color: #132442a0;
}
h1 {
    font-size: 70px;
    text-align: center;
    color: #132442b9;
}
h2 {
    font-size: 35px;
    color: #132442a0;
    text-align: center;
}
h6 {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.571);
    text-align: center;
    transform: translate(0px, -75px);
}
body {
    background: linear-gradient(to bottom, #e1edf3, #a6fefb);
    line-height: normal;
    word-spacing: normal;
    line-height: normal;
}
/*most of the header stuff is for the animation*/
header.Homepage {
    background-image:url(/assets/imgs/NaawiOodena.PNG);
    background-repeat: no-repeat;
    background-size: 1575px;
    padding: 10px;
    position: relative;
    animation-name: FadeIn;
    animation-duration: 0.5s;
    animation-direction: reverse;  
}
header.Spaces {
    background-image:url(/assets/imgs/Park.jpeg);
    background-repeat: no-repeat;
    background-size: 1300px;
    padding: 10px;
    position: relative;
    animation-name: FadeIn;
    animation-duration: 0.5s;
    animation-direction: reverse;  
}
header.History {
    background-image:url(/assets/imgs/KapyongBarracks.jpg);
    background-repeat: no-repeat;
    background-size: 1575px;
    padding: 10px;
    position: relative;
    animation-name: FadeIn;
    animation-duration: 0.5s;
    animation-direction: reverse;  
}
header.contact {
    background-image:url(/assets/imgs/color.png);
    background-repeat: no-repeat;
    background-size: 1900px;
    padding: 10px;
    position: relative;
    animation-name: FadeIn;
    animation-duration: 0.5s;
    animation-direction: reverse;  
}
footer{
    background-color:#6f808960 ;
}
#nav-link {
    padding: 5px;
    margin: 4px;
    border: 2px;
    color: #ffc5d3;
    font-size: 30px;
    display: block;
    float: left;
} 
nav ul li a {
    margin: 4px;
    padding: 5px;
    border: dotted #53453acc 3px;
    color: #2a2a2a;
    background-color: #648e7155 ;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
nav {
    padding: 8px;
    margin: 0px;
    background-color: #2e6f40;
    position: sticky;
    top: 0;
    width: calc(100% - 16px);
    resize: both;
    overflow: auto;
}
nav a:visited {
    color: #2c2111;
    background-color:#648e7193 ;
}
nav a:hover {
    color: #4a3a23;
    background-color: #648e71;
}
nav a:focus {
    color: #4a3a23;
    background-color: #588063;
}
/*makes image float to the right*/
.FloatRight {
text-align: end;
float:right;
border: dotted rgba(132, 86, 181, 0.8) 3px;
}
/*makes image float to the left*/
.FloatLeft {
    text-align:start;
    float:left;
    border: dotted rgba(132, 86, 181, 0.8) 3px;
}
/*keyframes for the fade in for the header*/
@keyframes FadeIn {
    0% {top: 0px; opacity: 100%;}
    100% {top: 55px;opacity:50%;}
}
.CenteredText {
    text-align: center;
}
/*the little hover animation for the images on spages*/
.HoverLeft {
    transition: transform 0.5s;
    float:left;
    transform: translate(75px,0px);
}
.HoverLeft:hover {
    transform: scale(1.1) translate(75px,0px);
}
.HoverRight {
    transition: transform 0.5s;
    float:right;
    transform: translate(-75px,0px);
}
.HoverRight:hover {
    transform: scale(1.1) translate(-75px,0px);
}